
		<nav class="navbar navbar-expand-lg bg-success fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html">Autolegal</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="Conocernos.html">Nosotros</a>
						</li>
						<!--
						Podriamos ponerlo para que le lleve a una pagina con las rutas y los horarios o dejarlo como esta 
						y que lo lleve a la pagina de las rutas y horarios justo en la seccion que solicita
						-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Rutas y horarios
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Medellin</a></li>
								<li><a class="dropdown-item" href="#">Anserma</a></li>
								<li><a class="dropdown-item" href="#">Mariquita</a></li>
							</ul>
						</li>
						<!--
						Es necesario tener esto? cual seria su funcionalidad. Darle visibilidad al equipo?
						-->
						<li class="nav-item">
								<a class="nav-link active" href="#">Empleados</a>
						</li>
						<li class="nav-item">
								<a class="nav-link active">Contactanos</a>
						</li>
					</ul>
					<div>
						<a class="btn btn-light">Registrarse</a>
						<a class="btn btn-primary">Iniciar Sesion</a>
					</div>
				</div>
			</div>
		</nav>
